version: "3"
services:
  krakend_ce:
    # The :watch image restarts the service automatically when the configuration files change.
    # Do not use this image in production, it's meant to speed up your testing and development.
    image: devopsfaith/krakend:2.4-watch
    hostname: krakend
    volumes:
      - ./krakend:/etc/krakend
    ports:
      - "1234:1234"
      - "8080:8080"
      - "8090:8090"
    command: ["run", "-d", "-c", "/etc/krakend/krakend.json"]
    depends_on:
      - individuals_api_1
      - individuals_api_2
      - individuals_api_3
      - address_api_1
      - aggregator_api_1
      - validation_api_1
      - influxdb
      - jaeger

  individuals_api_1:
    image: service_ab:latest
    hostname: individuals_api_1
    environment:
      - "SERVICE_NAME=IndividualsAPI"
      - "JAEGER_GRPC_URL=http://jaeger:4317"
      - "OTEL_PROPAGATORS=b3,b3multi,tracecontext,baggage"
      - "API_GATEWAY=http://krakend:8080"

  individuals_api_2:
    image: service_ab:latest
    hostname: individuals_api_2
    environment:
      - "SERVICE_NAME=IndividualsAPI"
      - "JAEGER_GRPC_URL=http://jaeger:4317"
      - "OTEL_PROPAGATORS=b3,b3multi,tracecontext,baggage"
      - "API_GATEWAY=http://krakend:8080"

  individuals_api_3:
    image: service_ab:latest
    hostname: individuals_api_3
    environment:
      - "SERVICE_NAME=IndividualsAPI"
      - "JAEGER_GRPC_URL=http://jaeger:4317"
      - "OTEL_PROPAGATORS=b3,b3multi,tracecontext,baggage"
      - "API_GATEWAY=http://krakend:8080"

  address_api_1:
    image: service_ab:latest
    hostname: address_api_1
    environment:
      - "SERVICE_NAME=AddressRegister"
      - "JAEGER_GRPC_URL=http://jaeger:4317"
      - "OTEL_PROPAGATORS=b3,b3multi,tracecontext,baggage"
      - "API_GATEWAY=http://krakend:8080"

  aggregator_api_1:
    image: service_ab:latest
    hostname: aggregator_api_1
    environment:
      - "SERVICE_NAME=AggregatorService"
      - "JAEGER_GRPC_URL=http://jaeger:4317"
      - "OTEL_PROPAGATORS=b3,b3multi,tracecontext,baggage"
      - "API_GATEWAY=http://krakend:8080"

  validation_api_1:
    image: service_ab:latest
    hostname: validation_api_1
    environment:
      - "SERVICE_NAME=ThirdPartyService"
      - "JAEGER_GRPC_URL=http://jaeger:4317"
      - "OTEL_PROPAGATORS=b3,b3multi,tracecontext,baggage"      
      - "API_GATEWAY=http://krakend:8080"


  grafana:
    image: grafana/grafana:9.1.2
    hostname: grafana
    ports:
      - "4000:3000"
    volumes:
      - "./config/grafana/datasources/all.yml:/etc/grafana/provisioning/datasources/all.yml"
      - "./config/grafana/dashboards/all.yml:/etc/grafana/provisioning/dashboards/all.yml"
      - "./config/grafana/krakend:/var/lib/grafana/dashboards/krakend"

  influxdb:
    image: influxdb:1.8.10
    hostname: influxdb
    environment:
      - "INFLUXDB_DB=krakend"
      - "INFLUXDB_USER=krakend-dev"
      - "INFLUXDB_USER_PASSWORD=pas5w0rd"
      - "INFLUXDB_ADMIN_USER=admin"
      - "INFLUXDB_ADMIN_PASSWORD=supersecretpassword"
    ports:
      - "8086:8086"  


  jaeger:
    image: jaegertracing/all-in-one:1.47
    hostname: jaeger
    environment:
      - "COLLECTOR_ZIPKIN_HOST_PORT=:9411"
      - "COLLECTOR_OTLP_ENABLED=true"
    ports:
      - "16686:16686"      
      - "4317:4317"
      - "4318:4318"
      - "14250:14250"
      - "14268:14268"
      - "14269:14269"
      - "9411:9411"
